*, *:before, *:after {
  box-sizing: border-box; 
}
/*heimild: https://gridbyexample.com/examples/example13/ */



.topnav {
grid-area: topnav; 
max-width: 100%;
}
header {
grid-area: header;
max-width: 100%;
}
main {
grid-area: main; 
max-width: 100%;
}
footer {
grid-area: footer;
max-width: 100%;
}
/*Dálkar í main */
.midja {
grid-area: midja; 
max-width: 100%;
}
.vinstri {
grid-area: vinstri;
max-width: 100%;
}
.haegri {
grid-area: haegri; 
max-width: 100%;
}



body {
display: grid;
grid-gap: 0; /* bil á milli dálka - ath! bætist við heildarbreidd */
grid-template-areas:
"header"
"main"
"footer"
"topnav"
;
  /* skipulag dálka kemur hér */
}

main {
display: grid; /* grid erfist aðeins til barna (child element only) */
grid-gap: 0;
grid-template-areas:
"midja"
"vinstri"
"haegri" 
;
 /* skipulag dálka kemur hér */
}

/* ====== Base litir + padding ====== */

body {
line-height: 1.5em;
background: rgb(255, 161, 177);
}
.topnav {
background: #1c2d1c; 
}
header {
background: tomato; 
}
footer {
background: lightgreen; 
}
.midja {
background: skyblue; 
}
.vinstri {
background: gold; 
}
.haegri {
background: pink; 
}

header,
footer,
.midja,
.vinstri, 
.haegri {
padding: 1em; 
}

/* ====== leturstílar ====== */

header h1 {
color: #fff;
line-height: 1.2;
font-weight: normal;
}
.midja h2 {
margin: .7em 0 .8em 0;
}
.midja h4 {
text-align: justify;
margin: .4em 0;
}
.midja p {
text-align: justify;
}

/* ========================================
Efnisyfirlit (mobile)
======================================== */
.topnav ul{
background: #1c2d1c; 
}
.topnav input {
display: none;
}

.topmenu {
display: block;
/* position: fixed; */
padding: 0;
margin: 0;
list-style: none; 

}
.topmenu li {
border: 0;
border-bottom: 1px solid lime; 
padding: 0;
margin:0;
}
.topmenu li {
border: 0;
padding: 0;
border-bottom: 1px solid lime; 
}
.topmenu a {
display: block;     /* ath! */
color: white;
text-decoration: none;
text-align: center;
padding: .4em 1em; 
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
color: black !important;
background-color: lime;
}

/* =======================================
*  myndvinnsla  *
======================================== */

/*  myndir <img> alltaf í 100% stærð munið að vinna og 
  þjappa myndir í photoshop ! */

img, video {
width: 100%;
}
img {
display: block; /* losna við inline "whitespace" */
}

figure {
margin:0;   /* ath! í normalize er sjálsfgefið margin 40px. */
border: 1px solid orange;
}
.myndabox {
max-width: 100%;
display: flex;
flex-wrap: wrap; /* ath! klasinn er með fasta breidd*/
}
/*  ========================================
Viðmið - breakpoints 30em = 480px + 
========================================*/

@media screen and (min-width: 30em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 30em skjástærð */
  
}

/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (min-width: 37.5em) {
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 37.5em skjástærð */
  .topmenu {
    display: flex;
    justify-content: center;
    /* position: fixed; */
    padding: 0;
    margin: 0;
    list-style: none; 
  }
  .topnav {
    display: flex;
    justify-content: center;
  }
  
  .vinstri {
    grid-area: vinstri;
    }
  .haegri {
    grid-area: haegri; 
    }
    
  .vinstri {
    background: gold; 
    }
  .haegri {
    background: gold; 
    }

  body {
    display: grid;
    grid-gap: 0; /* bil á milli dálka - ath! bætist við heildarbreidd */
    grid-template-areas:
    "topnav"
    "header"
    "main"
    "footer"
    
    ;
      /* skipulag dálka kemur hér */
    }
    
    main {
    display: grid; /* grid erfist aðeins til barna (child element only) */
    grid-gap: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "haegri midja"
    "vinstri midja" 
    ;
     /* skipulag dálka kemur hér */
    }
  
  
}
/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width: 48em) {  
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 48em skjástærð */  
  body {
    display: grid;
    grid-gap: 0; /* bil á milli dálka - ath! bætist við heildarbreidd */
    grid-template-areas:
    "topnav"
    "header"
    "main"
    "footer"
    
    ;
      /* skipulag dálka kemur hér */
    }
    
    main {
    display: grid; /* grid erfist aðeins til barna (child element only) */
    grid-gap: 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "vinstri midja haegri" 
    ;
    }

/* ========================================
Viðmið - breakpoints 60em = 960px +
======================================== */

@media screen and (min-width: 60em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 60em skjástærð */  
    /*Dálkar í main */
   body {
     max-width: 90em;
     margin:0 auto;
     padding:1em;
   }
}
/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== */

/*@media screen and (min-width: 80em) { 
  /* kóði sem yfirritar fyrri skipanir og nýjar skipanir sem eiga við 80em skjástærð */  
  
}