*{
    box-sizing: border-box;
}
body {
    border: 2px solid blue;
    margin:1em auto;
    padding:1em;
    max-width: 50em;
}
.box {
    width: 50%;
    border:1px solid;
    padding:1em;
    float: left;
}
.bigL {
    float: left;
    font-size: 4em;
    padding: 0.3em; /* = 0.3em */
}
.imgR {
    float: right;
    width: 12em;
    padding-left: .5em;
}
.imgR img {
    width: 80%;
}
/*Clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear:both;
}
.athugid {
    background-color: yellow;
}

