*{
    box-sizing: border-box; /* padding og border gildi leggjast inní heildarbreidd * allra taga í html skjalinu */
}
body {
    border: 1px solid black;
    margin:1em auto;
    padding:1em;
    max-width: 50em;
}
body {
    background-color: #ffeead;    
}

